# Terraform
*.json
!google-services.json # Needed for Firebase
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Python - ignore the dependency files
src/*
!src/main.py

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
